html {
  scroll-behavior: smooth; /* makes scrolling smoother */
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(226deg 100% 25%) 8%,
    hsl(219deg 100% 29%) 17%,
    hsl(214deg 100% 33%) 25%,
    hsl(210deg 100% 37%) 33%,
    hsl(206deg 100% 39%) 42%,
    hsl(202deg 100% 42%) 50%,
    hsl(198deg 100% 44%) 58%,
    hsl(194deg 100% 45%) 67%,
    hsl(190deg 100% 46%) 75%,
    hsl(185deg 100% 46%) 83%,
    hsl(181deg 100% 47%) 92%,
    hsl(177deg 100% 50%) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  color: white;
  display: flex;
  justify-content: center; /* aligns content to horizontal center*/
}

.content-wrapper {
  display: flex;
  gap: 20px; /* space between main and sidebar */
  padding: 0;
  max-width: 1260px; /* width */
  margin: 0 auto; /* centers horizontally */
}

.main-content {
  color: white;
}

.sidebar {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 25px;
  background-image: linear-gradient(
    225deg,
    hsl(45deg 86% 62%) 0%,
    hsl(44deg 87% 62%) 8%,
    hsl(42deg 88% 62%) 15%,
    hsl(41deg 88% 62%) 23%,
    hsl(40deg 89% 62%) 31%,
    hsl(38deg 89% 62%) 38%,
    hsl(37deg 89% 62%) 46%,
    hsl(36deg 89% 62%) 54%,
    hsl(35deg 89% 62%) 62%,
    hsl(33deg 89% 62%) 69%,
    hsl(32deg 88% 62%) 77%,
    hsl(31deg 88% 62%) 85%,
    hsl(29deg 87% 62%) 92%,
    hsl(28deg 87% 62%) 100%
  );
  height: auto;
  padding: 10px;
  border-radius: 8px; /* smoother border */
  width: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* gives shadow */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block; /* allows transform */
  transition: transform 0.3s ease; /* smoothes transform */
}

.sidebar a:hover {
  transform: scale(1.1);
}

hr {
  background-color: white;
  margin: 0 auto; /* centers horizontally */
  max-width: 1200px; /* same as container */
  border: none;
  height: 2px;
}

.video-container {
  display: flex;
  justify-content: center;  /* horizontal centering */
  margin-top: 20px;         /* space above the video */
}

.video-container video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
