html {
  scroll-behavior: smooth; /* makes scrolling smoother */
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(226deg 100% 25%) 8%,
    hsl(219deg 100% 29%) 17%,
    hsl(214deg 100% 33%) 25%,
    hsl(210deg 100% 37%) 33%,
    hsl(206deg 100% 39%) 42%,
    hsl(202deg 100% 42%) 50%,
    hsl(198deg 100% 44%) 58%,
    hsl(194deg 100% 45%) 67%,
    hsl(190deg 100% 46%) 75%,
    hsl(185deg 100% 46%) 83%,
    hsl(181deg 100% 47%) 92%,
    hsl(177deg 100% 50%) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

#header {
  color: white;
  display: flex;
  justify-content: center; /* aligns content to horizontal center*/
}

.content-wrapper {
  display: flex;
  gap: 20px; /* space between main and sidebar */
  padding: 0;
  max-width: 1260px; /* width */
  margin: 0 auto; /* centers horizontally */
}

.main-content {
  color: white;
}

.sidebar {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 25px;
  background-image: linear-gradient(
    45deg,
    hsl(197deg 37% 24%) 0%,
    hsl(195deg 41% 25%) 8%,
    hsl(193deg 46% 26%) 17%,
    hsl(191deg 50% 27%) 25%,
    hsl(189deg 54% 28%) 33%,
    hsl(187deg 59% 29%) 42%,
    hsl(186deg 62% 29%) 50%,
    hsl(184deg 65% 30%) 58%,
    hsl(182deg 67% 31%) 67%,
    hsl(180deg 67% 32%) 75%,
    hsl(178deg 65% 34%) 83%,
    hsl(175deg 62% 36%) 92%,
    hsl(173deg 58% 39%) 100%
  );
  height: auto;
  padding: 10px;
  border-radius: 8px; /* smoother border */
  width: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* gives shadow */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block; /* allows transform */
  transition: transform 0.3s ease; /* smoothes transform */
}

.sidebar a:hover {
  transform: scale(1.1);
}

hr {
  background-color: white;
  margin: 0 auto; /* centers horizontally */
  max-width: 1200px; /* same as container */
  border: none;
  height: 2px;
}

.video-container {
  display: flex;
  justify-content: center;  /* horizontal centering */
  margin-top: 20px;         /* space above the video */
}

.video-container video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

